<template>
  <div id="app">
      <div>Hola {{nombre_usuario}}</div>
      <div><input type="text" v-bind:value="puntos"></div>
      <div>
          <button name="agregar" v-on:click="agregarPuntos">+</button>
          <button name="quitar" v-on:click="quitarPuntos">-</button>
      </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data () {
      return {
          nombre_usuario : 'Julio',
          puntos : 10
      }
  },
  methods: {
      agregarPuntos : function() {
          console.log("agregarPuntos");
          this.puntos++;
      },
      quitarPuntos : function() {
          console.log("quitarPuntos");
          this.puntos--;
      }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
input {
    width: 6em;
    text-align: right;
}
</style>
